1.What are data structures, and why are they important

Data structure are the format of storing data in a specific manner.
It is important because it make the retirval of the data easy and you can add delete data easily.
ex-list tuples etc

2.Explain the difference between mutable and immutable data types with example

Mutable means if you have already added data item to the data structure you can always change it by using index you can replace the element using the index,
 Ex-L=[1,2,4,4,5]
 print(L)  output=1,2,4,4,5
 L[0]=9
 print(L)  output=9,2,4,4,5

Immutable means you cannot change element to the data structure using index
Ex-t=(1,2,4,4,5)
 print(L)  output=1,2,4,4,5
 L[0]=9
 print(L)  output=error

3.What are the main differences between lists and tuples in Python


List-
1.mutable
2.ordered
Tuple-
1.immutable
2.ordered

 4.Describe how dictionaries store data

 Dict store data in form of key pair and represented by {}
 we can access the value by using the key

5. Why might you use a set instead of a list in Python

List is a ordered collection but it used to store duplicate values also and set
is unordered collection and it does not contain duplicate values

6.What is a string in Python, and how is it different from a list

Characters arranged in an unchangeable order consider writing a sentence a paragraph or a piece of material

Each character in the string can be accessed by its index, or position

where as list is a ordered collection which is used to store any type of data and can be accessed by index only and it is mutable

7.How do tuples ensure data integrity in Python

In Python, tuples ensure data integrity by being immutable. This means that once a tuple is created, its elements cannot be modified, added, or removed. The immutability of tuples makes them useful in scenarios where data should remain consistent and unchanged throughout the program, preventing accidental or unauthorized modifications.

8.What is a hash table, and how does it relate to dictionaries in Python

A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index for each key, allowing for fast access, insertion, and deletion of elements. It works by mapping keys to indices in an underlying array, where the values are stored.

9.Can lists contain different data types in Python

Yes list can contain diferent data types in python

10.Explain why strings are immutable in Python

Strings in Python are immutable, meaning once a string is created, its content cannot be changed.

Strings in Python are immutable, meaning once a string is created, its content cannot be changed.

11.What advantages do dictionaries offer over lists for certain tasks

Dictionaries provide
O(1) average-time complexity for lookups, thanks to their underlying hash table implementation.

Lists, on the other hand, require
O(n) time to search for an element unless you know the exact index.

Dictionaries store data in key-value pairs, making them ideal for scenarios where you need to associate unique keys with specific values.

Lists are better for ordered collections of data without specific key associations.

12.Describe a scenario where using a tuple would be preferable over a list

Suppose you have to store bank detail of a person or aadhar number you will store that in tuple only because it is immutable and it maintain the intergrity of the data whereas the list is mutable and data can be changed any time with leads to data loss

13.How do sets handle duplicate values in Python

How Sets Handle Duplicates:
When a value is added to a set:

The set computes a hash for the value.
It checks if an element with the same hash already exists.
If a matching hash exists, the duplicate is not added

14. How does the “in” keyword work differently for lists and dictionaries

For Lists
The in keyword checks if the value exists as an element in the list.
It performs a linear search, meaning it iterates through each element in the list until a match is found or the end is reached.

For Dictionaries
The in keyword checks for keys, not values, in a dictionary.
It uses the dictionary's hash table implementation to check for membership.

15.Can you modify the elements of a tuple? Explain why or why not

No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning their content cannot be changed after they are created

16. What is a nested dictionary, and give an example of its use case

17.Describe the time complexity of accessing elements in a dictionary


 Average Case
Time Complexity:
O(1)
Why: Python dictionaries use a hash table implementation. When you access an element by its key, the key is hashed, and the hash value is used to locate the value in the underlying array directly. This eliminates the need for a linear search.


Worst Case
Time Complexity:
O(n)
Why: In rare cases, hash collisions occur, where multiple keys produce the same hash value. When this happens, the dictionary resolves the collision by storing the colliding keys in a data structure like a linked list or a binary search tree. Accessing an element in such cases requires a search through these structures.

18.In what situations are lists preferred over dictionaries

When Order Matters
Lists maintain the order of elements, which is crucial if the sequence or relative position of elements needs to be preserved.

When Index-Based Access Is Needed
Use lists when you need to access elements by their position (index) rather than a key.

19.Why are dictionaries considered unordered, and how does that affect data retrieval

Ans.Dictionaries are considered unordered in the sense that the order of items (key-value pairs) in a dictionary is not guaranteed to remain consistent across operations in some older implementations. However, in modern Python versions (3.7+), dictionaries maintain the insertion order as an implementation detail, which has become a formal language guarantee starting with Python 3.7

20.Explain the difference between a list and a dictionary in terms of data retrieval

Ans.List: A list is an ordered collection of elements indexed by their position, starting from 0.

Example: my_list = [10, 20, 30]
Data retrieval is done using integer indices, e.g., my_list[1] returns 20.
Dictionary: A dictionary is an unordered (in older versions of Python) or insertion-ordered (Python 3.7+) collection of key-value pairs.

Example: my_dict = {'a': 10, 'b': 20, 'c': 30}
Data retrieval is done using keys, e.g., my_dict['b'] returns 20.

1.Write a code to create a string with your name and print it

In [1]:
name="sumit"
print(name)

sumit

2.Write a code to find the length of the string "Hello World"

In [6]:
input="Hello World"
print(len(input))

11

3.Write a code to slice the first 3 characters from the string "Python Programming

In [7]:
name="Python Programming"
print(name[0:3])

Pyt

4.Write a code to convert the string "hello" to uppercaseE

In [8]:
n="hello"
uppertext=n.upper()
print(uppertext)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [10]:
n="I like apple"
print(n.replace("apple","orange"))

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [11]:
list=[1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [13]:
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

8.Write a code **to** remove the number 3 from the list [1, 2, 3, 4, 5]

In [14]:
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [20]:
n=["a","b","c","d"]
second =n[1]
print(second)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [21]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()  # Reverse the list in place
print(my_list)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it

In [22]:
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [23]:
tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [29]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = 0

for num in my_tuple:
    if num == 2:
        count_of_2 += 1

print(count_of_2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [30]:
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

15.5. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [31]:
l=["apple", "orange", "banana"]
if "banana" in l:
  print("yes")

yes

16.6. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [32]:
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [35]:
s={1,2,3,4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

18.8. Write a code to create a tuple with the elements 10, 20, 30 and print it

In [36]:
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [37]:
tuple=("apple", "banana", "cherry")
print(tuple[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [38]:
from itertools import count
t=(1,2,3,2,4,2)
count=0
for i in t:
  if i==2:
    count=count+1
print(count)

3

21.1. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')